pandas==2.2.2
numpy==2.0.2
matplotlib==3.10.0
seaborn==0.13.2
scikit-learn==1.6.1
xgboost==2.1.4
nltk==3.9.1
torch @ https://download.pytorch.org/whl/cu124/torch-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
transformers==4.52.4
datasets==2.14.4
sentence-transformers==4.1.0